include components/index
mixin Footer
    -
        const { footerBodyList } = require('./config')
    footer.footer
        .footer__container
            .footer__logo-top
                .footer__top
                    +FooterLogo
                .footer__body
                    each item, index in footerBodyList
                        if index < 2
                            +FooterNavColumn(item).footer__column
                        else
                            +FooterNavColumn(item).footer__column(style="grid-column: 1;")
            
            .footer__img-box
                .footer__img-block
                    a(href="/project")
                        img.fade-in(src="public/images/footer/facebook.svg")
                    a(href="/project")
                        img.fade-in(src="public/images/footer/insta.svg")
                    a(href="/project")
                        img.fade-in(src="public/images/footer/in.svg")
                    a(href="/project")
                        img.fade-in(src="public/images/footer/mail.svg")
                    a(href="/project")
                        img.fade-in(src="public/images/footer/twitter.svg")
                    
            .footer__img-box-text
                p.footer__text.fade-in Copyright @ 2022 Agency Creative. All Rights Reserved
