mixin About

  .about__title-text-block.fade-in
    p.about__subtitle-text(lng="about_subtitle") About Us
    p.about__title-text(lng="about_title") Our Teammate

  .about__content
    .about__text-block.fade-in
      p.about__text(lng="about_text") We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business2
      p.about__text(lng="about_text2") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu neque tempor at ut auctor maecenas, Lorem ipsum d

      .about__button-block
        button.about__button-blue(lng="about_button") 
          p About Us
        button.about__button-white
          img(src="public/images/about/play-circle.svg")
          p(lng="about_button2") About Us
        
    img.about__img(src="public/images/about/about-pic.png")
