mixin HeaderDropMenu
    .header-drop-menu
        +HeaderNavigation
        .nav-img
            img(src="public/images/footer/facebook.svg")
            img(src="public/images/footer/insta.svg")
            img(src="public/images/footer/in.svg")
            img(src="public/images/footer/mail.svg")
            img(src="public/images/footer/twitter.svg")

