mixin services 
    div.servises
        div.servises__text-block.fade-in
            p.servises__sub-title-text(lng="services_subtitle") Our Services
            p.servises__title-text(lng="services_title") Perfect and Fast Movement
            p.servises__text(lng="services_text") We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business

        div.servises__panel-block.fade-in
            a(href="/project" class="servises__pannel")
                div.servises__image-container

                    img(src="public/images/services/ellipse-blue.svg", class="servises__image-background", alt="Фоновое изображение")
                    img(src="public/images/services/monitor.svg", class="servises__image-overlay", alt="Накладываемое изображение")
                p.servises__pannel-text(lng="services_pannel_text_blue") Social Media
                p.servises__pannel-text(lng="services_pannel_text_blue2") Management

            a(href="/project" class="servises__pannel")
                div.servises__image-container
                    img(src="public/images/services/ellipse-red.svg", class="servises__image-background", alt="Фоновое изображение")
                    img(src="public/images/services/settings.svg", class="servises__image-overlay", alt="Накладываемое изображение")
                p.servises__pannel-text(lng="services_pannel_text_red") Search Engine
                p.servises__pannel-text(lng="services_pannel_text_red2") Optimization

            a(href="/project" class="servises__pannel")
                div.servises__image-container
                    img(src="public/images/services/ellipse-green.svg", class="servises__image-background", alt="Фоновое изображение")
                    img(src="public/images/services/pen-tool.svg", class="servises__image-overlay", alt="Накладываемое изображение")
                p.servises__pannel-text(lng="services_pannel_text_green") Design

            a(href="/project" class="servises__pannel")
                div.servises__image-container
                    img(src="public/images/services/ellipse-yellow.svg", class="servises__image-background", alt="Фоновое изображение")
                    img(src="public/images/services/tv.svg", class="servises__image-overlay", alt="Накладываемое изображение")
                p.servises__pannel-text(lng="services_pannel_text_yellow") Ads
