mixin Testimonials
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    div.testimonials
        h2(lng="testimonials_subtitle" class="testimonials__sub-title-text fade-in") Testimonial
        h2(lng="testimonials_title" class="testimonials__title-text fade-in") People Talk about us

        +slider
        div.testimonials__image-container
            img.testimonials__overlay-image-1(src="public/images/testimonials/testimonials-dots.svg")
            img.testimonials__overlay-image-2(src="public/images/testimonials/testimonials-dots.svg")
            
        .testimonials__collaboration-block.fade-in
            .testimonials__collaboration-image-block
                img.hover-image(src="public/images/testimonials/testimonials-img-hover.png")
                img.base-image(src="public/images/testimonials/testimonials-img.png")
                div.testimonials__image-container
                    img.testimonials__overlay-image-3(src="public/images/testimonials/testimonials-dots-thick.svg")
                    img.testimonials__overlay-image-4(src="public/images/testimonials/testimonials-dots-orange.svg")
            .testimonials__collaboration-text-block.j-popup-block
                p(lng='testimonials_colaboration_title' class="testimonials__collaboration-title-text") Interesting Collaboration With Us?
                p(lng='testimonials_colaboration_text' class="testimonials__text") Help you to reach your business goal

                
                +PopupBlock('testimonials__button','testimonials_content_button')


        
             
