include components/index
mixin Controller
    header.header.j-header
        //- j-header-size считает высоту шапки
        .header__wrapper.j-header-size
            .header__container.container
                .header__logo
                    +HeaderLogo
                .header__burger
                    +Burger
                .header__nav
                    +HeaderNavigation
                    
        .header__drop.j-drop-menu
            +HeaderDropMenu
                +PopupBlock
    #preloader
        .preloader__block
            .preloader__image-block.animated-image
                img#animated-image(src="public/images/header/logo-animate.svg")
            
            .preloader__text-block
                h2.slide-in.header__slider-title-text Agency
                h2.slide-in.header__slider-sub-title-text Creative
        
        .preloader__text-bloc-bottom
            div.slide-in-bottom.header__slider-text(lng='preloader_text') will help to reach your goals.
