// blocks
.servises{
padding: 5.5rem 1rem 2.5rem;

background-color: var(--bk-color);
}

.servises__text-block{
display: flex;
flex-direction: column;
gap: 1rem;

text-align: center;
}

.servises__panel-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  
}

// text
.servises__title-text{
    @include font-styles('Nunito',700, none, none, var(--description-dark));
    @include t-title;
}

.servises__sub-title-text{
    @include font-styles('Quicksand',600, none, none, var(--light-blue));
    @include t-sub-title;
}

.servises__text{
    @include font-styles('Quicksand',400, none, none, var(--description-light));
    @include t-text;
    padding-top:1rem;
     
}

.servises__read-text{
        @include font-styles('Quicksand',700, .9rem, 2.125rem,var(--light-blue));
}




.servises__read {
    display: flex;
    flex-direction: row;
    gap: .6rem;
    align-items: center;
    justify-content: start;
    height: 50px;
    padding-left: .5rem;

    background-color: transparent; /* Прозрачный фон */
}

.servises__read-block{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.servises__read-block:hover svg path {
    color: var(--blue);  /* Меняем цвет для текстовых элементов */

    stroke: var(--blue);   /* Изменяем цвет для всех paths в SVG */

}

.servises__read-block:hover{
    .servises__read-text{
        @include font-styles('Quicksand',none, none, none,var(--blue));
}

}

@media(min-width:#{$br-tablet}px) {
    .servises__text-block{
        display: flex;
    }

    .servises__read{
        justify-content:end;

    }
    
} 
      
@media(min-width:#{$br-desktop}px){
    .servises__panel-block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        align-items: center;
    }

    .servises{
        display:flex;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 10rem 1rem 4rem;

        column-gap: 10rem;

        background-color: var(--bk-color);
    }
   
    .servises__pannel-text{
        @include font-styles('Quicksand',700, 1.5rem, 2.125rem,var(--description-dark));
    }

    .servises__text-block{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 500px;
        margin: 0;

        text-align: left;
    }

    .servises__pannel{
        width: none;
        margin: 0;
        padding: 0;
        
    }


    .servises__read{
        gap: 1rem;
        height: 100px;
    }

    .servises__read-text{
        @include font-styles('Quicksand',700, 1.25rem, 2.125rem,var(--light-blue));

    }

}