mixin Header 
 

    .header__content.fade-in
        div.balloon-container.fade-in
        .header__title-text-block
            p.header__title-text(lng="header_title") Make your dream business goal come true
            .header__text-block
                p.header__title-text-gray(lng="header_text") when you need us for improve your business, then come with us to help your business have reach it, you just sit and feel that goal.
                div.header__button-start.style-button(lng="header_content_button") Start Project    
                                 
            .image-container
                img.header__image.overlay-image(src="public/images/header/header-bk.png")  
                div.overlay-image.overlay2  
                    img.img2(src="public/images/header/star.svg")  
                    p(lng="header_overlay1_subtitle").header__overlay1-subtitle Great Project
                        div.text-container
                            p(lng="header_overlay1_title").header__overlay1-title 800+ Done
                div.overlay-image.overlay3
                    img.img(src="public/images/header/bill2.svg")  
                    div.txt
                        p(lng="header_overlay2_title").header__overlay2-title Bill Adams
                        p(lng="header_overlay2_subtitle").header__overlay2-subtitle CEO UpTech
                    div.text-container
                                p(lng="header_overlay2_text").header__overlay2-text “ This team is really the best in its field,I don't regret working with them, and will come back again thanks “
                img.underlay1(src="public/images/header/blue-dots.svg")  
                img.underlay2(src="public/images/header/orange-dots.svg")                    
