extends @shared/layout/default/default
include ../index/modules/about/about.pug
include ../index/modules/services/services.pug
include ../index/modules/portfolio/portfolio.pug
include ../index/modules/testimonials/testimonials.pug
block variables
  -
    const title = 'Welcome to Start Template'
    const breadcrumbs = ['breadcrumbs', 'index']

block content

  +About
  +services
  +portfolio
  +Testimonials

