extends @shared/layout/default/default
include @widgets/index/modules/about/about
include @widgets/index/modules/portfolio/portfolio
include @widgets/index/modules/services/services
include @widgets/index/modules/testimonials/testimonials
include @widgets/index/modules/welcome/welcome

block variables
  -
    const title = 'Welcome to Start Template'
    const breadcrumbs = ['breadcrumbs', 'index']


block content

  +Welcome
  +About
  +services
  +portfolio
  +Testimonials

