mixin Testimonials
    .testimonials
        p(lng="testimonials_subtitle" class="testimonials__sub-title-text fade-in") Testimonial
        p(lng="testimonials_title" class="testimonials__title-text fade-in") People Talk about us

        
        .slider
                .slider-wrapper
                    .slider-item
                        .testimonials__pannel
                            .testimonials__pannel-image
                                img.testimonials__image(src="public/images/testimonials/pannel-img.png")
                                .testimonials__pannel-title-block
                                    p(lng="testimonials_pannel_title" class="testimonials__pannel-title-text") Angel Rose
                                    p(lng="testimonials_pannel_subtitle" class="testimonials__pannel-subtitle-text") Creative Manager
                            p(lng="testimonials_text" class="testimonials__text") “ Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit”

                        .testimonials__pannel.pannel__show
                            .testimonials__pannel-image
                                img.testimonials__image(src="public/images/testimonials/pannel-img.png")
                                .testimonials__pannel-title-block
                                    p(lng="testimonials_pannel_title2" class="testimonials__pannel-title-text") Angel Rose
                                    p(lng="testimonials_pannel_subtitle2" class="testimonials__pannel-subtitle-text") Creative Manager
                            p(lng="testimonials_text2" class="testimonials__text") “ Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit”

                        .testimonials__pannel.pannel__show-tablet
                            .testimonials__pannel-image
                                img.testimonials__image(src="public/images/testimonials/pannel-img.png")
                                .testimonials__pannel-title-block
                                    p(lng="testimonials_pannel_title3" class="testimonials__pannel-title-text") Angel Rose
                                    p(lng="testimonials_pannel_subtitle3" class="testimonials__pannel-subtitle-text") Creative Manager
                            p(lng="testimonials_text3" class="testimonials__text") “ Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit”


                    .slider-item
                        .testimonials__pannel
                            .testimonials__pannel-image
                                img.testimonials__image(src="public/images/testimonials/pannel-img.png")
                                .testimonials__pannel-title-block
                                    p(lng="testimonials_pannel_title4" class="testimonials__pannel-title-text") Angel Rose
                                    p(lng="testimonials_pannel_subtitle4" class="testimonials__pannel-subtitle-text") Creative Manager
                            p(lng="testimonials_text4" class="testimonials__text") “ Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit”

                        .testimonials__pannel.pannel__show
                            .testimonials__pannel-image
                                img.testimonials__image(src="public/images/testimonials/pannel-img.png")
                                .testimonials__pannel-title-block
                                    p(lng="testimonials_pannel_title5" class="testimonials__pannel-title-text") Angel Rose
                                    p(lng="testimonials_pannel_subtitle5" class="testimonials__pannel-subtitle-text") Creative Manager
                            p(lng="testimonials_text5" class="testimonials__text") “ Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit”
                        
                        .testimonials__pannel.pannel__show-tablet
                            .testimonials__pannel-image
                                img.testimonials__image(src="public/images/testimonials/pannel-img.png")
                                .testimonials__pannel-title-block
                                    p(lng="testimonials_pannel_title6" class="testimonials__pannel-title-text") Angel Rose
                                    p(lng="testimonials_pannel_subtitle6" class="testimonials__pannel-subtitle-text") Creative Manager
                            p(lng="testimonials_text6" class="testimonials__text") “ Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Lorem ipsum dolor sit amet, consectetur adipiscing elit”

                    
  
   
        .testimonials__collaboration-block.fade-in
            .testimonials__collaboration-image-block
                img.hover-image(src="public/images/testimonials/testimonials-img-hover.png")
                img.base-image(src="public/images/testimonials/testimonials-img.png")
            .testimonials__collaboration-text-block.j-popup-block
                p(lng="testimonials_colaboration_title" class="testimonials__collaboration-title-text") Interesting Collaboration With Us?
                p(lng="testimonials_colaboration_text" class="testimonials__text") Help you to reach your business goal
                
                button.testimonials__button(lng="testimonials_content_button") Get Started
            
            
             
