:root {
    --pure-white: #FFF;
    --pure-black: #fff;
    --light-blue: #377DFF;
    --blue: #37DBFF;
    --description-dark: #1D1D1D;
    --description-light: #464646;
    --bk-color:#FFF;
    --pure-white-footer: #FFF;
    --footer-bk: #383638;
    --panel-border:#0000001A;
    --testimonil-card-bk:#FFF;
    --testimonil-card-border:#E2E2E2;
    --button-shadow:#1D1D1D;
}

.darkstyle {
    --bk-color:#000;
    --pure-white: #0D0D0D;  /* Цвет для темной темы */
    --pure-black: #000;  /* Цвет для темной темы */
    --light-blue: #E2E2E2;  /* Цвет для темной темы */
    --blue: #E2E2E2;        /* Этот цвет остаётся тем же */
    --description-dark:#E2E2E2;
    --description-light: #E2E2E2;
    --panel-border:#FFFFFF1A;
    --testimonil-card-bk:#0B0F15;
    --testimonil-card-border:#0B0F15;
    --button-shadow:#377DFF;
}
