
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px; /* Размер текста в слайде */
}

.swiper {
  gap:4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


   


