mixin slider 

    .swiper
      .swiper-wrapper
        .swiper-slide 
            +slider-card(imageSrc, 'testimonials_pannel_title', 'testimonials_pannel_subtitle', 'testimonials_text')
        .swiper-slide 
            +slider-card(imageSrc, 'testimonials_pannel_title2', 'testimonials_pannel_subtitle2', 'testimonials_text2')
        .swiper-slide 
            +slider-card(imageSrc, 'testimonials_pannel_title3', 'testimonials_pannel_subtitle3', 'testimonials_text3')
        .swiper-slide 
            +slider-card(imageSrc, 'testimonials_pannel_title4', 'testimonials_pannel_subtitle4', 'testimonials_text4')
        .swiper-slide 
            +slider-card(imageSrc, 'testimonials_pannel_title5', 'testimonials_pannel_subtitle5', 'testimonials_text5')
        .swiper-slide 
            +slider-card(imageSrc, 'testimonials_pannel_title6', 'testimonials_pannel_subtitle6', 'testimonials_text6')

    //- Ваш скрипт инициализации Swiper будет в файле swiper-init.js