mixin Welcome   
    .welcome__content.fade-in
        div.balloon-container
                div.balloon.blue
                div.balloon.red
                div.balloon.blue
                div.balloon.red
                div.balloon.blue
        .welcome__title-text-block
            div.welcome__title-text(lng="header_title") Make your dream business goal come true
            .welcome__text-block
                p.welcome__title-text-gray(lng="header_text") when you need us for improve your business,
                bk.welcome__title-text-gray(lng="header_text2")  then come with us to help your business have reach it, you just sit and feel that goal.
                +PopupBlock('welcome__button-start','header_content_button')
                
                                 
            .image-container
                img.welcome__image.overlay-image(src="public/images/header/header-bk-big.png")  
                div.overlay-image.overlay2  
                    img.img2(src="public/images/header/star.svg")  
                    div(lng="header_overlay1_subtitle").welcome__overlay1-subtitle Great Project
                    div.text-container
                        p(lng="header_overlay1_title").welcome__overlay1-title 800+ Done
                div.overlay-image.overlay3
                    img.img(src="public/images/header/bill2.svg")  
                    div.txt
                        div(lng="header_overlay2_title").welcome__overlay2-title Bill Adams
                        div(lng="header_overlay2_subtitle").welcome__overlay2-subtitle CEO UpTech
                    div.text-container
                                p(lng="header_overlay2_text").welcome__overlay2-text “ This team is really the best in its field,I don't regret working with them, and will come back again thanks “
                img.underlay1(src="public/images/header/blue-dots.svg")  
                img.underlay2(src="public/images/header/orange-dots.svg")          
