mixin HeaderLogo
    a.header-logo(href='/')
        img.header-logo__icon(src=require('@shared/assets/logo.svg'))
        .header__logo-text Agency
            .header__bottom-logo-text Creative
                