mixin HeaderNavigation
    -
        const {navList} = require('./config')
    ul.header-nav
        each item in navList
            li
                a(lng=item.lng href=item.link)= item.label


        +LangButton
        +PopupBlock('simple-btn', 'header_menu_button')